/* Main container to hold the sidebar and content */
.container {
    display: flex;
  }
  
  /* Content styling */
  .content {
    flex: 1;
    margin-left: 260px; /* Adjusts for the sidebar width */
    padding: 20px;
    margin-top: 80px;
  }
  
  /* Center the card on mobile screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack the sidebar and content vertically */
    }
  
    .content {
      margin-left: 0; /* Remove left margin on mobile */
      display: flex;
      justify-content: center; /* Center the card horizontally */
      padding: 10px;
      
    }
    
    .ant-card {
      width: 100%; /* Make card full width on mobile */
      max-width: 400px; /* Limit maximum width */
      margin-top: 100px;
    }

    .ant-card-body{
        margin-top: -10px;
    }

    .ant-btn{
        margin-inline-start: -80px;
    }
    

    
  }
  